Fabric==1.4.3
PyYAML==3.10
argparse==1.2.1
elasticutils==0.5
fabric-gunicorn==0.1
gunicorn==0.14.6
ipython==0.13
nose==1.2.1
pycrypto==2.6
pyes==0.16.0
requests==0.14.1
ssh==1.7.14
tornado==2.4
wsgiref==0.1.2
